@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');

.background{
    background-color: #C8CAA6;
}
.filtersPosition{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filtersFlex{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    max-width: max-content;
}
.label{
    color: aliceblue;
    font-size:medium;
}
select{
    max-width: min-content;
}
.btn{
    background-color: rgb(233, 177, 108);
    border-radius: 9px;
    color:rgb(30, 30, 31);
    cursor: pointer;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 100;
    height: 2rem;
    margin-left: 2rem;  
}
.h1{
    color: #151516;
    display: flex;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 50px;
    justify-content: center;
}
.container{
    display: flex;
    height: 300px;
    justify-content: center;
    width: 250px;
    box-shadow: 0 8px 6px -6px black;
}
.wrapper{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-items: center;
    margin: auto;
    max-width: 1200px;
    padding: 0 24px;
}
.res{
    font-weight: 100;
}
@media (max-width: 700px) {
    .res{
        position: absolute;
        transform: translateY(-10rem);
        margin: auto;
    }
    .filtersPosition{
        top: 30%;
    }
    select{
        width: 2rem;
    }
}