@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');

.background{
    background-image: url(../utils/img8.jpg);
    background-position: 90% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
}
.container{
    background-color: aliceblue;
    border-radius: 15px;
    font-family: 'Roboto Serif', sans-serif;
    height: 80%;
    margin-top: 3rem;
    margin: auto;
    width: 25%;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes example {
    0%   { transform: translateY(-120%)}
    100% { transform: translateY(0)}
  }
.centering{
    margin: auto;
    width: max-content;
}
.h1{
    display: flex;
    justify-content: center;
}
.labelStyle{
    height: 1.6rem;
    width: 15rem;
    border-radius: 8px;
}
.btnStyle{
    background-color: bisque;
    font-family: 'Roboto Serif', sans-serif;
    border-radius: 5px;
    height: 2rem;
    cursor: pointer;
}
.btnStyle:hover{
    background-color: aquamarine;
    transition: 700ms;
}
.btnPosition{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
.btnMargin{
    margin-top: 2rem;
    margin-left: 2rem;
    animation-name: btn;
    animation-duration: 2s;
}
@keyframes btn {
    0%   { transform: translateX(-120%)}
    100% { transform: translateX(0)}
}
@media (max-width:1000px){
    .container{
        width: 40%;
    }
    .labelStyle{
        width:min-content;
    }
}