@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.video{
    height: 100vh;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.link{
    background-color:rgb(53, 92, 116);
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    left: 42%;
    padding: 10px;
    padding-left: 2rem;
    position: absolute;
    text-decoration: none;
    top: 50%;
    width: 10rem;
    z-index: 1;
    animation-name: btn1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes btn1 {
    0%   { transform: translateX(-350%)}
    100% { transform: translateX(0)}
}
.link:hover{
    background-color: aqua;
    color:rgb(70, 135, 155);
    transition: 2000ms;
}
.text{
    color: rgb(255, 255, 255);
    text-shadow: 10px 1px 2px black;
    font-size: 5rem;
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
    left: 32%;
    position: absolute;
    top: 5%;
    animation-name: btn2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes btn2 {
    0%   { transform: translateX(+200%)}
    100% { transform: translateX(0)}
}
