.video{
    height: 100vh;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.link{
    background-color:rgb(53, 92, 116);
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    left: 42%;
    padding: 10px;
    padding-left: 2rem;
    position: absolute;
    text-decoration: none;
    top: 50%;
    width: 10rem;
    z-index: 1;

}
.link:hover{
    background-color: aqua;
    color:rgb(70, 135, 155);
    transition: 2000ms;
}
.text{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 700;
    left: 35%;
    position: absolute;
    top: 5%;
}
